input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

body {
    cursor: url(img/icons8-cursor-50.png), auto;
}